.comment__main {
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100px;
  margin: 20px 20px 20px 20px;
  padding: 20px 40px 40px 40px;
}

.comment__header {
  font-size: 18px;
  font-weight: 600;
  user-select: none;

}

.comment__link {
  padding-left: 10px;
  font-size: 14px;
  color: #4E3FFB;
  font-weight: normal;
  cursor: pointer;
  user-select: none;

}

.comment__link:hover {

  text-decoration: underline;
}

.comment__button {
  background-color: #ABABAB;
  color: white;
  font-weight: 500;
  width: 100px;
  border: none;
  margin-top: 20px;
}

.comment__button:hover {
  background-color: #ABABAB;
  color: white;
}

.comment__button__main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.comment__sort {
  display: flex;
  align-items: center;


}

.comment__sort__text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;

}

.comment__sort__option {
  margin-left: 20px;

}

.comment__card__avatar {
  margin-right: 10px;
}

.comment__card {
  display: flex;

}

.comment__card__right {
  display: flex;
  flex-direction: column;
}

.comment__card__right__top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment__card__name {
  padding: 2px;
  margin-right: 2px;

}