.comment__main {
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100px;
  border-radius: 2%;
  margin: 20px 20px 20px 20px;
  padding: 20px 40px 40px 40px;
}

.comment__header {
  font-size: 18px;
  font-weight: 600;
  user-select: none;

}

.comment__link {
  padding-left: 10px;
  font-size: 14px;
  color: #4E3FFB;
  font-weight: normal;
  cursor: pointer;
  user-select: none;

}

.comment__link:hover {

  text-decoration: underline;
}

.comment__button {
  background-color: #ABABAB;
  color: white;
  font-weight: 500;
  width: 100px;
  border: none;
  margin-top: 20px;
}

.comment__button:hover {
  background-color: #ABABAB;
  color: white;
}

.comment__button__main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}