html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  height: 100vh;
  width: 100%;
  min-height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
}

.emailRegisterField {

  width: 345px;
  height: 50px;

}

.emailRegisterFieldInput {
  width: 345px;
}