.navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px dotted rgb(184, 184, 184);
  position: fixed;
  z-index: 1;
  width: 100%;
}



.searchBox {
  max-width: 660px;
  max-height: 45px;
  font-size: 20px;
}

.icon {
  width: 50;
  height: 32;
}

.selectBox {
  line-height: 24px;
  font-size: small;
  width: auto;
}

.selectBox:hover {
  border: 1px solid gainsboro
}