.main__layout {
  margin-top: 64px;
  min-height: 100vh;
  background-color: #DAE0E6;
  height: auto;
}

.main__left {
  background-color: #DAE0E6;
}

.main__right {
  background-color: #DAE0E6;
}

.submit__header {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.submit__divider {
  border-color: #F6F7F8;

}

.submit__main__choser {
  max-width: 250px;
  min-width: 200px;
  width: 250px;
  border-radius: 5%;
}


.select__placeholder {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 500;
}

.select__option {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.submit__tab {
  background-color: white;
  margin-top: 20px;
  padding: 0px 20px 20px 20px
}

.tab__post {
  width: 200px;
  min-width: 100px;
  justify-content: center;
  text-align: center;
}

.tab__img {
  width: 250px;
  min-width: 100px;
  justify-content: center;
  text-align: center;
}

.tab__link {
  width: 200px;
  min-width: 100px;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .main__left {
    display: none;
    visibility: hidden;
  }

  .main__right {
    display: none;
    visibility: hidden;
  }
}